In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("student_performance_dataset")

In [1]:
# data.head()
# data.columns

In [2]:
# data.describe()

In [3]:
# data.dtypes

In [3]:
data.shape

(649, 34)

In [5]:

# data.isna().sum()

In [6]:
# data.isna()

In [7]:
# data.dtypes

In [11]:
data = data.drop(columns=['Unnamed: 0'])

In [12]:
# Replacing median values for age, Medu, Fedu nan values 

data['age'] = data['age'].fillna(data['age'].median())
data['Medu'] = data['Medu'].fillna(data['Medu'].median())
data['Fedu'] = data['Fedu'].fillna(data['Fedu'].median())

In [8]:
# data.head(6)

In [15]:
# using mode imputation of missing values

data['Pstatus'] = data['Pstatus'].fillna(data['Pstatus'].mode()[0])
data['reason'] = data['reason'].fillna(data['reason'].mode()[0])
data['internet'] = data['internet'].fillna(data['internet'].mode()[0])

In [9]:
# data.head()

In [10]:
# data.isna().sum()

In [18]:
# identifying categorical columns in the dataset

categorical_columns = data.select_dtypes(include=['object']).columns.tolist()
print(categorical_columns)

['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']

In [19]:
# handling binary columns if it has "yes" then 0 else it has "No" then it converts to 1

binary_cols = ['schoolsup', 'famsup', 'paid', 'activities', 
               'nursery', 'higher', 'internet', 'romantic']
import numpy as np
for col in binary_cols:
    data[col] = np.where(data[col] == 'yes', 1, 0)

In [11]:
# data.head()

In [12]:
# data.columns

In [22]:
non_binary_cats = ['school', 'sex', 'address', 'famsize', 'Pstatus', 
                   'Mjob', 'Fjob', 'reason', 'guardian'] # female becomes 0 and male becomes 1 in sex_M column
data = pd.get_dummies(data, columns=non_binary_cats, drop_first=True) #here drop first makes the first as 0 and second as 1

In [13]:


# data.dtypes

In [14]:

# data.columns
# data.shape

In [ ]:
#converting boolean values to integer for cleaner interpretation
# Select boolean columns

bool_cols = data.select_dtypes(include=['bool']).columns

# Convert to int
data[bool_cols] = data[bool_cols].astype(int)

In [28]:
#converting float values to integer for cleaner interpretation

# Convert back to integer (rounding just in case)
data['Medu'] = data['Medu'].round().astype(int)
data['Fedu'] = data['Fedu'].round().astype(int)
data['age'] = data['age'].round().astype(int)   # age is whole number anyway

In [29]:
data.dtypes

age                  int64
Medu                 int64
Fedu                 int64
traveltime           int64
studytime            int64
failures             int64
schoolsup            int64
famsup               int64
paid                 int64
activities           int64
nursery              int64
higher               int64
internet             int64
romantic             int64
famrel               int64
freetime             int64
goout                int64
Dalc                 int64
Walc                 int64
health               int64
absences             int64
G1                   int64
G2                   int64
G3                   int64
school_MS            int64
sex_M                int64
address_U            int64
famsize_LE3          int64
Pstatus_T            int64
Mjob_health          int64
Mjob_other           int64
Mjob_services        int64
Mjob_teacher         int64
Fjob_health          int64
Fjob_other           int64
Fjob_services        int64
Fjob_teacher         int64
reason_home          int64
reason_other         int64
reason_reputation    int64
guardian_mother      int64
guardian_other       int64
dtype: object

In [33]:
# data.to_csv("real_cleaned_student_performance_dataset",index=False)
# data.columns
data.shape

(649, 42)